<!DOCTYPE html>
<html>

<head>
  <title>{{ .Title }}</title>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <div class="header">
    {{ partial "header.html" . }}
  </div>

  <div id="search"></div>

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
      });
    });
  </script>

</body>

</html>
