<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{ .Title }}</h1>
    <img src="{{ .Params.photo }}" alt="{{ .Title }}" width="200" />
    <p><strong>Roll Number:</strong> {{ .Params.roll }}</p>
    <p><strong>Class:</strong> {{ .Params.class }}</p>
    <p><strong>Date of Birth:</strong> {{ .Params.dob }}</p>
    <p><strong>Hobbies:</strong> {{ delimit .Params.hobbies ", " }}</p>
    <p>{{ .Content }}</p>


    {{ with .Params.teachers_tags }}
    <p><strong>Teachers:</strong>
        {{ range . }}
        <a href="/teachers/{{ . }}/">{{ . }}</a>
        {{ end }}
    </p>
    {{ end }}

    <h2>Related Students</h2>
    <ul>
        {{ $current := . }}
        {{ $class := .Params.class }}
        {{ $teachers := .Params.teachers_tags }}
        {{ $dob := .Params.dob }}

        {{ $related := where site.RegularPages "Type" "students" }}
        {{ $related := where $related "Permalink" "ne" $current.Permalink }}
        {{ $related := where $related "Params.class" $class }}
        {{ $related = where $related "Params.teachers_tags" "intersect" $teachers }}
        {{ range first 5 $related }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ else }}
        <li>No suggestions found.</li>
        {{ end }}
    </ul>


    <a href="/students/">Back To Students Details</a>
</body>

</html>