<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
</head>
<body>
    <input type="text" id="searchBox" placeholder="Search..." />
    <ul id="results"></ul>
    <script>
        let idx;      
        let documents; 
        fetch("/index.json")
            .then(response => response.json())
            .then(data => {
                documents = data;
                idx = lunr(function () {
                    this.ref('permalink');
                    this.field('title');
                    this.field('summary');
                    this.field('content');
                    data.forEach(doc => this.add(doc));
                });
            });
        document.getElementById('searchBox').addEventListener('change', function () {
            const query = this.value;
            const results = idx.search(query);

            const resultList = document.getElementById('results');
            resultList.innerHTML = "";

            results.forEach(result => {
                const doc = documents.find(d => d.permalink === result.ref);
                const ul = document.createElement('ul');
                const li1 = document.createElement('li');
                li1.innerHTML = `${doc.title}`;
                const li2 = document.createElement('li');
                li2.innerHTML = `${doc.summary}`;
                const li3 = document.createElement('li');
                li1.innerHTML = `${doc.content}`;
                const li4 = document.createElement('li');
                li1.innerHTML = `<a href="${doc.permalink}">${doc.title}</a>`;
                ul.appendChild(li1);
                ul.appendChild(li2);
                ul.appendChild(li3);
                ul.appendChild(li4);
                resultList.appendChild(ul);
            });
        });
    </script>
</body>
</html>